<h5> <%= comment.name %> </h5>
<%= simple_format comment.content %>
Criado hà: <%= simple_format time_ago_in_words comment.created_at %>
<%= link_to "Remover", comment_path(comment), method: :delete, confirm:"Deseja excluir?" %>